// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-title-row{
  p.notice,
  p.alert {
    margin: 1em auto;
  }

  img {
    margin: 0.7em auto;
  }
  h1{
    margin: 0.5em auto;
  }
}